.post {
    /* background-color: #333333; */
    max-width: 500px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.post__image {
    width: 100%;
    object-fit: contain;
}

.post__text {
    font-weight: normal;
    padding: 12px;
    color: #1d1d1f;
    font-size: 16px;
}

.post__commentBox {
    display: flex;
    margin-top: 8px;
}

.post__comments {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    color: #1d1d1f;
    line-height: 180%;
}

.post__input {
    flex: 1;
    border-radius: 30px;
    border: none;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #1d1d1f;
    outline: none;
    background-color: #f2f2f2;
    
}

.post__button {
    /* flex: 0; */
    /* border: none;
    color: #00ffce;
    background-color: transparent; */
    border-radius: 30px;
    border: 1px solid #147ce5;
    background-color: white;
    width: 80px;
    color: #147ce5;
}

@media screen and (max-width: 600px) {
    .post {
        margin-left: 0;
        margin-right: 0;
    }
}