<html>
    <head>
        <title>What I Ate Today</title>
        <link href='https://fonts.googleapis.com/css?family=Mansalva&display=swap' rel='stylesheet'><link href='https://fonts.googleapis.com/css?family=Nunito:600&display=swap' rel='stylesheet'><link rel='stylesheet' type='text/css' href='index.css'></head>
    </head>
    <body>
        <h1>What I Ate Today</h1>
        <h3>✨I had <%= data.food %> for <%= data.meal%>✨</h3>
        <p><%= data.comment %></p>
        <img style="width: 400px" src="/uploads/<%= data.file.filename %>">
        <p><a href='javascript:history.back()'>Back</a></p>
    </body>
</html>